<div class="main" [ngStyle]="{width:(width?width:'')}">
    <a *ngIf="person.imageLink" href="{{person.imageLink}}">
        <img src="{{person.image}}" class="student-img">
    </a>
    <a *ngIf="(!person.imageLink)&&person.personPageKey" [routerLink]="'/people/individual/'+person.personPageKey">
        <img src="{{person.image}}" class="student-img">
    </a>
    <img *ngIf="(!person.imageLink)&&(!person.personPageKey)" src="{{person.image}}" class="student-img">
    <div class="student-title fs-larger">
        <a *ngIf="person.personPageKey" class="personLink" [routerLink]="'/people/individual/'+person.personPageKey">
            {{person.name}}
        </a>
        <i *ngIf="person.personPageKey" style="color: white;" class="fa fa-external-link-square"></i>
        <div *ngIf="!person.personPageKey">
            {{person.name}}
        </div>
    </div>
    <div class="body" [innerHTML]="person.description"></div>
</div>