<div class="main" [ngStyle]="{width:(width?width:'')}">
    <a *ngIf="person.imageLink" href="{{person.imageLink}}">
        <img src="{{person.image}}" class="student-img">
    </a>
    <img *ngIf="!person.imageLink" src="{{person.image}}" class="student-img">
    <div class="student-title fs-larger">
        <a *ngIf="person.personPageKey" class="personLink" [href]="'/people/individual/'+person.personPageKey">
            {{person.name}}
        </a>
        <i *ngIf="person.personPageKey" style="color: white;" class="fa fa-external-link-square"></i>
        <div *ngIf="!person.personPageKey">
            {{person.name}}
        </div>
    </div>
    <div class="body" [innerHTML]="person.description"></div>
</div>