.main{
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid var(--primary);
}
.student-title{
    padding: 5px;
    color: white;
    text-align: center;
    background-color: var(--primary);
    z-index: 1;
    max-width: 90%;
}

img{
    padding: 3px;
    float: right;
    background-color: white;
    z-index: 1;
}

.body{
    text-align: center;
    margin-top: 5px;
    border-top: 3px solid var(--primary);
}

a.personLink{
    color: white;
}
.student-title:hover{
    text-decoration: underline;
    cursor: pointer;
}