
.main{
    display: block;
    flex-direction: column;
}
.pocs{
    display: grid;
}
.address{
    display: grid;
    align-items: center;
}

@media (min-width:750px){
    .pocs{
        grid-template-columns: 45% 45%;
    }
    .address{
        grid-template-columns: 45% 45%;
    }
}
app-flashbox{
    margin: 10px;
}