div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
}
hr{
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:var(--secondary);
    height: 5px;
}