<div class="main">
    <div *ngIf="para!.text">
        <p  *ngIf="!(para!.image)" [innerHTML]="para!.text|safe:'html'"></p>
        <div *ngIf="para!.image">
            <div class="desktop">
                <div class="row">
                    <img class="article-img-desktop" *ngIf="para!.image" src="{{para!.image}}"/>
                    <p [innerHTML]="para!.text|safe:'html'"></p>
                </div>
            </div>
            <div class="mobile">
                <div class="col">
                    <img class="article-img-mobile" *ngIf="para!.image" src="{{para!.image}}"/>
                    <p [innerHTML]="para!.text|safe:'html'"></p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!para!.text" class="col">
        <div class="desktop col">
            <img class="desktop standalone-img" *ngIf="para!.image" src="{{para!.image}}"/>
        </div>
        <div class="mobile col">
            <img class="mobile standalone-img" *ngIf="para!.image" src="{{para!.image}}"/>

        </div>
    </div>
    <a *ngIf="para!.internalLink" class="button" [routerLink]="[(para!.internalLink.route!.startsWith('misc')?'/'+para!.internalLink.route:para!.internalLink.route)]" [innerHTML]="para!.internalLink.label"></a>
    <ul *ngIf="para!.list">
        <li *ngFor="let item of para!.list" [innerHTML]="item"></li>
    </ul>
</div>