
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media(min-width:650px){
    .links{
        flex-direction: row;
        justify-content: space-around;
    }
    a{
        text-align: start;
    }
}
a{
    text-decoration: none;
    text-align: center;
    color: var(--primary);
    font-size: large;
    padding: 10px;
}
a:hover{
    background-color: #ddd;
}
