<div class="main" [ngStyle]="{width:(width?width:'')}">
    <div class="text">
        <a *ngIf="person.imageLink" href="{{person.imageLink}}">
            <img src="{{person.image}}" class="person-img">
        </a>
        <img *ngIf="!person.imageLink" src="{{person.image}}" class="person-img">
        <div class="person-title fs-larger" [innerHTML]="person.name"></div>
    </div>
    <div class="body fs-medium">
        <app-paraspecbox [para]="{text:person.description}"></app-paraspecbox>
    </div>
</div>
<!-- TODO: fix staff boxs. -->