.navbar {
  overflow: hidden;
  display: flex;
}
.desktop-navbar{
  flex-direction: row;
}
.mobile-navbar{
  flex-direction: column;
  border-top: 3px var(--secondary) solid;
}

.navbar a {
  color: black;
  text-align: left;
  padding: 14px 16px;
  display: block;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: inherit;
}
.desktop .childRoute{
  padding: 10px;
  background-color: white;
}

.mobile .childRoute{
  background-color: white;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown-content.desktop {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}
.dropdown-content.mobile{
  outline: none;
  color: white;
  margin-left: 10px;
  background-color: inherit;
  border-left: 3px grey solid;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: white;
  cursor:pointer
}
.dropdown-content a:hover {
  color: var(--primary);
}

.desktop-navbar>.dropdown:hover .dropdown-content {
  display: block;
}

.routeWithChildren{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}