/* Navbar container */
.navbar {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    /* background-color: var(--secondary); */
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    color: black;
    text-align: center;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .childRoute{
    font-size: 16px;
    font-family: inherit;
    padding: 10px;
  }
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: white;
    cursor:pointer
  }
  .childRoute{
    background-color: white;
  }
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    color: var(--primary);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* .navbar{
    display: flex;
    flex-direction: row;
    font-family: CircularStd,sans-serif;
    padding: 10px;
}

.baseLabel{
    padding:10px;
    background-color: rgb(78, 54, 41);
    color: white;
} */